@import url(
'https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 50px;
    background-color: rgb(230, 173, 225);
    border-radius: 20px;
}
.header{
    margin: 0 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.paino-key-list{
    list-style: none;
    display: flex;
    margin: 30px;
}
.paino-key{
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    text-transform: uppercase;
    border: 1px solid rgb(71, 71, 71);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}
.white{
    background-color: white;
    border-radius: 5px;
    width: 80px;
    height: 220px;
}
.black{
    background-color: black;
    width: 40px;
    height: 130px;
    color: white;
    z-index: 2;
    margin: 0 -20px 0 -20px;
}
.paino-key span{
    padding-bottom: 20px;
}
.paino-key.active{
    transform: scale(0.99);
}
.show-key-section{
    display: flex;
    flex-direction: row;
}
input[type="checkbox"].toggle{
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}
input[type="checkbox"].toggle + label{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input[type="checkbox"].toggle + label::before{
    content: "";
    width: 2em;
    height: 1em;
    background-color: rgb(199, 200, 204);
    border-radius: 1em;
    margin: .25em;
}
input[type="checkbox"].toggle + label::after{
    position: absolute;
    left: .4em;
    content: "";
    width: .9em;
    height: .9em;
    background-color: white;
    border-radius: 1em;
}

input[type="checkbox"].toggle:checked + label::after{
    transform: translateX(100%);
    background-color: white;
}
input[type="checkbox"].toggle:checked + label::before{
    background-color: rgb(56, 122, 223);
}