/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.zinvo{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/f8BF9hBy_750x960_crop_center.jpg?v=1716024283");
}
.milano{ 
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/K1tyoPe4_750x960_crop_center.jpg?v=1716024314");
}
.coniche{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/corniche-heritage-chronograph-rose-gold-with-cream-dial-39mm-314-1695283421-7695_750x960_crop_center.webp?v=1716024342");
}
.mstr{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/zCnd8SiQ_750x960_crop_center.jpg?v=1716025134");
}
.electrician{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/JipB4taA_750x960_crop_center.jpg?v=1716025000");
}
.vilhelm{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/1D40D710-816A-433C-A21E-283EC3F107A9_1024x1024_34adbfc9-77ff-4acd-847a-058b3c8f7f2a_750x960_crop_center.webp?v=1716024868");
}
.y24{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/Shibyua49-Webb_bf107d1a-0eb3-4b65-930c-28acc2a719de_750x960_crop_center.webp?v=1716025588");
}
.daper{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/pwBXSb-g_750x960_crop_center.jpg?v=1716025429");
}
.rec{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url("https://klassywatches.com/cdn/shop/files/p51-eleanor-slider-9_750x960_crop_center.jpg?v=1614361354");
}
.product-model-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin: 15px 30px;
}
.model-card{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: end;
    background-position: center;
    background-size: cover;
    transition: background-size 2s ease-in-out; 
    cursor: pointer;
}
.model-card:hover{
    background-size: 120%;
    -webkit-transition: all 0.3s ease-in-out;
}
.model-card-info{
    padding: 50px;
}
.model-card-info .model-name{
    font-size: 22px;
    margin-bottom: 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
} */