*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.order-container{
    width: 100vw;
    display: flex;
    padding-top: 150px;
    justify-content: center;
}
.order-cart{
    padding-top: 20px;
    width: 100%;
    max-width: 1330px;
    display: grid;
    grid-template-columns: 1fr 550px;
    justify-items: center;
}
.order-main-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-img{
    width: 100%;
    max-width: 500px;
    position: relative;
}
.order-img img{
    width: 100%;
    object-fit: contain;
}
.order-img .product-image{
    opacity: 0;
}
.order-img .product-image.active{
    opacity: 1;
}
.order-img .product-rotate-image{
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.order-img .product-rotate-image.active{
    opacity: 1;
}
.bottom-img{
    padding-top: 20px;
}
.bottom-img img{
    width: 68px;
    height: 68px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.bottom-img img.active{
    border: 1px solid black;
    box-shadow: none;
}
.order-info{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 50px;
}
.order-info h2{
    font-size: 22px;
    color: #1c1b1b;
    letter-spacing: 0.2em;
    font-weight: 500;
}
.order-info p{
    margin-top: 15px;
    color: #6a6a6a;
}
.qty-contain{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    border: 1px solid #6a6a6a;
}
.qty-contain span{
    padding: 10px 20px;
    font-size: 16px;
}
.qty-contain span:first-child,
.qty-contain span:last-child{
    cursor: pointer;
}
.order-info button{
    font-size: 14px;
    padding: 14px 28px;
    width: 100%;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.add-button{
    background-color: transparent;
    border: 1px solid #6a6a6a;
    transition: all 0.2s ease;
}
.add-button:hover{
    background-color: white;
    color: black;
    border: none;
}
.buy-button{
    background-color: black;
    color: white;
    border: none;
    transition: all 0.2s ease;
}
.buy-button:hover{
    background-color: rgb(43, 40, 40);
}
